data/A3D/
data/taiwan_sa/
results/*
*.png
*.zip
*.pkl
*.pth
*.pyc
*.swp
datasets/*
data/small_shot/
kmeans_results/
*.ipynb_checkpoints
.DS_Store
code_notepad.py
slides_and_papers/*
checkpoints/*
summary/*

.vscode/*

scripts/*
